[init]
  defaultBranch = main
[push]
  default = current
[color]
  ui = auto
[alias]
  aa = add --all
  ap = add --patch
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  ci = commit -v
  co = checkout
  pf = push --force-with-lease
  st = status
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  graph-mini = log --graph --decorate --oneline
  log1 = log --stat --decorate --find-renames
  log2 = log --graph --decorate --oneline
  log3 = log -p
  status1 = status --short --branch
  cml = "!f() { git log $1 --pretty=format:\"<li><a href='\"http://github.com/$2/commit/%H\"'>view commit</a> %s</li>\"; }; f"
  bk = "!f() { git branch $1-bk`date \"+%Y%m%d%H%M%S\"`$2; }; f"
  tidy = !git checkout master && git branch --merged | grep -v \"*\" | xargs -I % git branch -d %
  tidy2 = !git checkout main && git branch --merged | grep -v \"*\" | xargs -I % git branch -d %
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[merge]
  ff = only
[commit]
  template = ~/.gitmessage
[fetch]
  prune = true
[rebase]
  autosquash = true
[diff]
  colorMoved = zebra
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[user]
  name = snkrheadz
  email = aki.d.sc@gmail.com
[ghq]
  root = ~/ghq
[submodule]
	recurse = true
